@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
	outline: none;
}

a{
	text-decoration: none;
	font-weight: none;
	font-size: 12pt;
	color: #A3A3A3;
}


a:hover{
	color: #7DAB00;
	cursor: pointer;
}

body {
	background-image: url(../images/background.jpg);
	background-position:left top;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;

}

#wrapper{
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	display: relative;

	
}

img {
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 10px;
}

header {

	font-family: 'Century Gothic', Veranda, sans-serif;
	text-align: center;
	color: white;
	margin-left: 0px;
	margin-top: 160px;
	width: 960px;
	height: 250px;

}
h1{
	font-weight: normal;
	font-size: 4em;
	margin-bottom: 20px;

}

h2 {
	margin-top: 30px;
	font-weight: normal;
	font-size: 2.5em;
}

h3 {
	font-weight: normal;
	color: #969696;
	margin-top: 10px;
	font-size: 1.3em;
}